@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    body{
        font-size: 2.4em;
    }
    header{
        justify-content: center;
        width: 100%;
        height: 350px;
    }
    #logo{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
    }
    #logo>img{
        width: 50%;
    }
    #search{
        justify-content: center;
        width: 100%;
    }

    nav{
        height: 120px;
    }

    section{
        width: 100%;
    }
    section>a{
        height: 500px;
    }

    aside{
        display: none;
    }

    section#aniList>div.imgBox{
        height: auto;
    }
    section#aniList>div.imgBox>img{
        width: 100%;
    }
    section#aniList>div.imgBox>video{
        width: 100%;
    }
}