<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/fc.png">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link rel="stylesheet" href="../video.css">
    <meta charset="UTF-8">
    <title>IZ*ONE STREAMING</title>
</head>
<body>
    <header>
        <a href="/">
            <div id="logo">
                <img src="../IZONE_logo.png" alt="logo" style="width:267px;padding-left:2.438em;">
            </div>
        </a>
        <div id="search">
            <input type="search" id="searchInput">
            <input type="button" id="searchButton" value="검색">
        </div>
    </header>
    <nav>
        <span>
            <a href="/showcon">쇼케이스</a>
        </span>|
        <span>
            <a href="/onechu">아이즈원 츄</a>
        </span>|
        <span>
            <a href="/vlive">V LIVE</a>
        </span>|
    </nav>
    <section style="width:1280px;height:768px;">
        <video style="width:1280px;height:768px;" src="/public/videos/hd/<%=title%>" controls></video>
    </section>
</body>
</html>